{% extends 'base.html'%}


{% block title %}Edit MEMBER{% endblock %}


{% block content %}


<div class="shadow-lg " style="background-color: #61494C">
    <!-- row-1 -->
    <br>
    <br>
    <br><br><br>
    <H1 class="text-center text-light">แก้ไขข้อมูลส่วนตัว </H1>
    <br><br><br>
    <div class="row">

        <!-- row-2 -->

        <div class="col-md-10 mx-auto col-lg-5">
            <!-- row-3 -->
            <form class="shadow-lg rounded-5 row bg-light p-4" action="" method="post" name="formform" id="formform">
                {% csrf_token%}

                <div class="pb-4 text-black">
                    <div class="p-2">
                        <label for="firstname">ชื่อ : </label>
                        <input type="text" name="firstname" id="lastname" value="{{customer.firstname}}"
                            class="form-control">
                    </div>
                    <div class="p-2">
                        <label for="lastname">นามสกุล :</label>
                        <input type="text" name="lastname" id="lastname" value="{{customer.lastname}}"
                            class="form-control">
                    </div>
                    <input type="hidden" value="{{customer.gender}}" name="" id="genderkey">
                    <div class="p-2">
                        เพศ
                        <div class="d-flex ">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gender" id="male" value="male">
                                <label class="form-check-label" for="male">
                                    ชาย
                                </label>
                            </div>
                            <div class="px-2"></div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                                <label class="form-check-label" for="female">
                                    หญิง
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="p-2">
                        <label for="age">วันเกิด</label>
                        <input type="date" name="age" id="" value="{{cusDate}}" class="form-control">
                    </div>
                    <div class="p-2">
                        <label for="tel">เบอร์โทร : </label>
                        <input type="tel" name="tel" id="tel" value="{{customer.tel}}" maxlength="10"
                            class="form-control">
                    </div>
                    <div class="p-2">
                        <label for="address">ที่อยู่ : </label>
                        <textarea name="address" id="address" cols="30" rows="10"
                            class="form-control">{{customer.address}}</textarea>
                    </div>

                </div>
                <div class="row ">
                    <input type="button" onclick="confirmedit()" value="ยืนยันการแก้ไข" class="btn btn-primary">
                </div>

                <br>
            </form>

        </div> <!-- row-3 -->
    </div> <!-- row-2 -->
    <br><br><br><br><br><br><br>
</div> <!-- row-1 -->



<script>
    key = document.getElementById("genderkey").value
    male = document.getElementById("male")
    female = document.getElementById("female")

    if (key == "male") {
        male.checked = true
    } else {
        female.checked = true
    }

    function confirmedit(){
        Swal.fire({
            title: 'ยืนยันการแก้ไข',
            text: "การกระทำต่อไปนี้ ไม่สามารถย้อนคืนได้",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'ยืนยัน',
            cancelButtonText: 'ยกเลิก'
        }).then((result) => {
            if (result.isConfirmed) {
                try{
                 document.formform.submit();
             }
                catch(error)
                    {
                Swal.fire({
                      icon: 'error',
                      text: 'เกิดข้อผิดพลาด',
                    });
                    }
            }
        })
    }




</script>

{% endblock %}