{% extends 'base.html'%}
{% block title%}
Register
{% endblock%}

{% block content%}
    <br>
<div class = "container" > <!-- row-1 -->
  <h1>HOTEL</h1>
  <br>
<div class="row col-12"> <!-- row-2 -->

  <div class="row col-6"> <!-- start form -->

    <div class="row">
      <div class="col-md-6 ">
        <div class="form-group">
          <label class="text-black" for="fname">First Name</label>
          {{cusForm.firstname}}
        </div>
      </div>
      
      <div class="col-md-6 ">
        <div class="form-group">
          <label class="text-black" for="lname">Last name</label>
          {{cusForm.lastname}}
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="text-black" for="birth">Year of birth</label>
            {{cusForm.age}}
          </div>
        </div>        
        <div class="col-md-6">
          <div class="form-group">
            <label class="text-black" for="Tel">Tel</label>
            {{cusForm.tel}}
          </div>
        </div>
      </div>
  <br>
        <div class="form-group">
          <label class="text-black" for="gender">Gender</label>
          {{cusForm.gender}}
      </div>
  <br>
      <div class="form-group">
        <label class="text-black" for="email">Email address</label>
        {{accForm.email}}
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <br>
      <div class="row">
          <div class="col-md-6 ">
            <div class="form-group">
              <label class="text-black" for="username">Username</label>
              {{accForm.username}} 
            </div>
          </div>
          
          <div class="col-md-6 ">
            <div class="form-group">
              <label class="text-black" for="password">Password</label>
              {{accForm.password}}
            </div>
          </div>
        </div> 
        <br>
        <div class="form-group">
          <label class="text-black" for="password">Confirm Password</label>
          {{accForm.confirm_password}}
          {{accForm.non_field_errors}}
      </div>
      <br>
      <div class="form-group">
        <label class="text-black" for="address">Address</label>
          {{cusForm.address}}
          {{cusForm.accepted}}
      </div>
      <br>
   
    </form>
   </div> <!-- end form -->

<div class="row col-6 bg-dark"> <!-- row-3 -->
  Data brabrabrabrabrabrabrabrabra
</div>

      <div class="col-md-6">
        <br>
          <input type="button" value="สมัครสมาชิก" name='submit' class="btn btn-primary" >
        
      </div>
        </div>
<br>
  </form> 
</div>

</div> <!-- row-1 -->

</div><!-- row-2 -->

</div>  <!-- row-3 -->

{% endblock %}