{% extends 'base.html'%}
{% block title%}
Register
{% endblock%}

{% block content%}

<div class="shadow-lg" style="background-color: #6998AB">

    <br>
    <br>
    <div class="">
        <div class="row px-5">
            <H1 class="text-center text-light">Register </H1>
            <div class=" col-6 p-5 px-5 mb-5">

                <form class="px-4 py-5 my-5 text-Black shadow-lg rounded-5" style="background-color: #ffffff" action=""
                    method="post">
                    {% csrf_token%}
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label class="text-black " for="fname">First Name</label>
                                {{cusForm.firstname}}
                            </div>
                        </div>

                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label class="text-Black " for="lname">Last name</label>
                                {{cusForm.lastname}}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="text-black" for="birth">Year of birth</label>
                                {{cusForm.age}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="text-black" for="Tel">Tel</label>
                                {{cusForm.tel}}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="text-black" for="gender">Gender</label>
                        {{cusForm.gender}}
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="text-black" for="email">Email address</label>
                        {{accForm.email}}
                        {{accForm.email.errors}}
                        <small id="emailHelp" class="form-text text-mude">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="text-black " for="username">Username</label>
                                {{accForm.username}}
                                {{accForm.username.errors}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="text-black" for="password">Password</label>
                                {{accForm.password1}}
                                {{accForm.password1.errors}}
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="form-group">
                        <label class="text-black" for="password">Confirm Password</label>
                        {{accForm.password2}}
                        {{accForm.password2.errors}}

                    </div>
                    <br>
                    <div class="form-group">
                        <label class="text-black" for="address">Address</label>
                        {{cusForm.address}}
                        {{cusForm.accepted}}
                    </div>
                    <div class="row col-md-12 p-5">
                        <input type="submit" value="สมัครสมาชิก" name='submit' class="btn btn-primary">
                    </div>
            </div>
            <br>
            </form>

            <div class=" col-6 p-5 px-5 mb-5">
                <form class="px-4 py-5 my-5 text-Black shadow-lg rounded-5" style="background-color: #ffffff">

                    <div class="row col-12">
                        <div class="row col-3">

                            <i class="bi bi-house-door"style='font-size:50px'></i>
                            <br>
                            <br>
                            <br>
                            <br>
                            <i class="bi bi-telephone-plus"style='font-size:50px'></i>
                            <br>
                            <br>
                            <br>
                            <br>
                            <i class="bi bi-envelope-paper"style='font-size:50px'></i> 

                        </div>

                        <div class="row col-9"> 
                            <br>
                            <br>
                            <p> Address: 1/3 Moo 6 Thanarat Road Moo-Si, Pak Chong District, Nakhon Ratchasima 30130 </p> 

                            <br>
                            <br><br>
                            <br><br>
                            
                            <p> Email Address: kirimaya@gmail.com </p>
                        
                            <br><br>
                            <br><br>
                            <br>
                            <p>Phone: 044 426 000 </p>
                       </div>
   
                    </div>

                    <br>
            </div>
            
            <br>
            </form>

        </div>
    </div>

</div>

{% endblock %}