{% extends 'base.html'%}



{%block title%}
Rooms
{% endblock%}



{% block content%}

<div style=" background-color: white;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div style="width: 150px;">
                    <h1 class="pt-4">ห้องพัก</h1>
                    <div class="pb-1"></div>
                    <hr>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pt-4 p-5">ห้องพักในพัทยาที่ให้คุณชมพระอาทิตย์ลับฟ้าจากระเบียงส่วนตัว
                    คลายร้อนด้วยการอาบน้ำใต้ฝักบัวแบบเรนชาวเวอร์ และเอนกายลงบนเตียงนอนที่นุ่มสบาย
                    ทุกห้องพักของเราได้รับการออกแบบเพื่อความสะดวกสบายและเป็นส่วนตัวสูงสุด
                    เพื่อให้คุณได้สัมผัสบรรยากาศเงียบสงบริมทะเลและผ่อนคลายอย่างแท้จริง</div>
            </div>
        </div>
    </div>
</div>
<div class="pb-4"></div>
<!-- <div class="d-flex justify-content-center"> -->
<div class="container">
    <div class="row">
        <!-- <div class="col-3"></div>
    <div class="col-6">
        <div class="row"> -->
        {% for i in alltype%}
        <div class="col-lg-6 col-md-12 pb-4 d-flex justify-content-center">
            <div style="width: 500px;">
                <div style="background-color: white;">
                    <div style="width: 100%; ">
                        <img src="/media/{{i.img}}" alt="" width="100%" height="300px" class="shadow-lg">
                    </div>
                    <div class="container">
                        <h3 class="text-uppercase py-3 overflow-auto">{{i.name}}</h3>
                        <div><i class="fa-solid fa-house"></i> <b>ขนาดห้อง</b> : 30 m&#178;</div>
                        <div><i class="fa-solid fa-user-group"></i> <b>จำนวนคน</b> : ผู้ใหญ่ {{i.limit_people}} คน
                            หรือ
                            ผู้ใหญ่ {{i.limit_people}} + เด็ก 1</div>
                        <hr>
                        <div>ราคา : {{i.price}} บาท</div>
                        <div class="overflow-auto text-break">{{i.description}}</div>
                        <div><i class="fa-solid fa-wifi"></i> ฟรีไวฟาย</div>
                        <br>
                        <div class="text-center pb-3">
                            <a href="/roomdetail/{{i.type_id}}" class="btn btn-primary">ข้อมูลเพิ่มเติม</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor%}
        <!-- </div>
    </div> -->
        <!-- <div class="col-3"></div> -->
    </div>
</div>

<div class="pb-5"></div>
{% include 'footer.html'%}


{%endblock%}