{% extends 'base.html'%}



{% block title%}EDIT TYPE{%endblock%}



{% block content %}

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.name.label_tag}}
    {{form.name}}

    <div class="d-flex justify-content-start">
        <img src="/media/{{type.img}}" alt="" width="300px"> <br>
        <div>
            <div>
                <div>
                    {{form.img.label_tag}}
                    {{form.img}}
                </div>
            </div>
        </div>
    </div>

   


    <div class="row">
        {% for i in multiimg%}

        <div class="col-auto">
            <div>
                <img src="/media/{{i.image}}" alt="{{i.image}}" width="auto" height="200px" class="rounded">

            </div>
            <div class="text-center my-1">

                <a href="/delimg/{{i.id}}/{{i.type.type_id}}" class="btn btn-danger">ลบรูปภาพนี้</a>
            </div>

        </div>
        {%endfor%}
    </div>





    <br>


    {{form.description.label_tag}}
    {{form.description}}
    {{form.bed.label_tag}}
    {{form.bed}}
    {{form.limit_people.label_tag}}
    {{form.limit_people}}
    {{form.price.label_tag}}
    {{form.price}}




    <input type="submit" value="แก้ไขประเภทห้อง" class="btn btn-primary">



</form>

<form action="{% url 'addanotherimg'%}" method="post" enctype="multipart/form-data">
    {% csrf_token%}
    รูปภาพเพิ่มเติม:
    {% for form in imgForm %}
        {{ form }}
    {% endfor %}
    <input type="hidden" name="type" id="" value="{{type.type_id}}">
    <input type="submit" name="submit" id="" value="เพิ่มรูป" class="btn btn-success">

    </form>




{% endblock %}