{% extends 'base.html'%}



{% block title%}EDIT ROOM{%endblock%}



{% block content %}















{% for rooms in rooms%}
<div class="mb-3 border border-1 p-3">
    <div class="row">

        <div class="col-3">
            <div>เลขห้อง : {{rooms.room_id}}</div>
        </div>
        <div class="col-4">
            <div>รายละเอียด : {{rooms.description}}</div>
        </div>
        <div class="col">
            <div>สถานะ : {{rooms.status}}</div>
        </div>
        <div class="col">
            <div>ประเภท : {{rooms.type}}</div>
        </div>
        <div class="col">
            <div>
                <a href="editrooms/{{room.type_id}}"><button class="btn btn-primary">แก้ไขห้อง</button></a>

                <a href="edittype/{{room.type_id}}"><button class="btn btn-primary">แก้ไขประเภทห้อง</button></a>
                <a href="roomdetail/{{room.type_id}}"><button class="btn btn-primary">จองเลย</button></a>
            </div>
        </div>
    </div>
</div>
{% endfor %}




{% endblock %}