{% extends 'base.html' %}
{% block title%} Fetchrooms {% endblock%}
{% block content %}


<div class="container shadow-lg ">
    <!-- row-1 -->
    <br>
    <br>
    <br><br><br>
    <H1 class="text-center text-black">ห้องพัก </H1>
    <br><br><br>
    <div class="row">

        <!-- row-2 -->

        <div class="col-md-10 mx-auto col-lg-5">
            <!-- row-3 -->
            <p>
                <a class="btn-center btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    เพิ่มประเภทห้อง</a>
            </p>

            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form.as_p}}
                        <label for="multi">รูปภาพเพิ่มเติม</label>
                        <input type="file" name="images" multiple id="multi" class="form-control">

                        <input type="submit" name="submit" id="" value="เพิ่มประเภทห้อง" class="btn btn-success">
                    </form>
                </div>
            </div>

            <div class="container ">
                {% for room in type%}
                <div class="mb-3 border border-1 p-3">
                    <div>ชื่อห้อง : {{room.name}}</div>
                    <div>รูปภาพ : <img src="media/{{room.img}}" alt="" width="400px"></div>
                    <div>รายละเอียด : {{room.description}}</div>

                    <div>ราคา : {{room.price}}</div>

                    <div>
                        <a href="room/{{room.type_id}}"><button class="btn btn-primary">อัพเดตสถานะ</button></a>

                        <a href="edittype/{{room.type_id}}"><button class="btn btn-primary">แก้ไขประเภทห้อง</button></a>
                        <a href="deletetype/{{room.type_id}}"><button class="btn btn-danger">ลบประเภทห้อง</button></a>
                    </div>
                </div>


                {% endfor %}
            </div>

        </div> <!-- row-3 -->
    </div> <!-- row-2 -->
    <br><br><br><br><br><br><br>
</div> <!-- row-1 -->


{% endblock%}