{% extends 'base.html'%}



{% block title %} Booking {% endblock %}


{% block content %}

<form action="" method="post">
    {%csrf_token%}
<!-- 
    <div>ชื่อ : {{detail.name}}</div>
    <div>รายละเอี่ยด : {{detail.description}}</div>
    <div>
        <img src="/media/{{detail.img}}" alt="" width="400px">
    </div>
    <div>
        รูปภาพเพิ่มเติม : 
        {% for i in multiimg%}
            <div class="d-inline">
                <img src="/media/{{i.image}}" alt="" width="auto" height="200px">
            </div>
        {% endfor%}
    </div>
    <div>วันที่เข้า : {{date_in}} </div>
    <div>วันที่ออก : {{date_out}}</div>
    <div>เช่าทั้งหมด : {{days}} คืน</div>
    <div>ราคาทั้งหมด : {{price}} บาท</div>
    
    <input type="hidden" value="{{days}}" name="days">
    <input type="hidden" value="{{price}}" name="sum_price">
    <input type="hidden" value="{{detail.type_id}}" name="type_id">
    <input type="hidden" value="{{room_free.room_id}}" name="room_id">


    <input type="radio" name="pay" id="pay1" checked value="later">
    <label for="pay1">จ่ายทีหลัง</label>
    <input type="radio" name="pay" id="pay2" value="now">
    <label for="pay2">จ่ายตอนนี้</label>

<br>


<input type="submit" name="submit" id="" class="btn btn-primary " value="ขั้นตอนต่อไป">
<a href="/" class="btn btn-warning">ยกเลิกการจอง</a> -->


<div class="col-md-10 mx-auto col-lg-5">
    <form class="shadow-lg rounded-5 row bg-light p-4" action="" method="post">
        {%csrf_token%}
        <div class="pb-4 text-black ">
            <img src="/media/{{detail.img}}" alt="" class="img-fluid" width="400px">
        </div>
        รูปภาพเพิ่มเติม : 
        {% for i in multiimg%}
            <div class="d-inline">
                <img src="/media/{{i.image}}" alt="" width="auto" height="200px">
            </div>
        {% endfor%}
        
        <div>วันที่เข้า : {{date_in}} </div>
        <div>วันที่ออก : {{date_out}}</div>
        <div>เช่าทั้งหมด : {{days}} คืน</div>
        <div>ราคาทั้งหมด : {{price}} บาท</div>
        <div class="row ">
           
        </div>
        <br>
    </form>
    <input type="radio" name="pay" id="pay1" checked value="later">
        <label for="pay1">จ่ายทีหลัง</label>
        <input type="radio" name="pay" id="pay2" value="now">
        <label for="pay2">จ่ายตอนนี้</label>
    <input type="submit" name="submit" id="" class="btn btn-primary " value="ขั้นตอนต่อไป">
<a href="/" class="btn btn-warning">ยกเลิกการจอง</a>


{% include 'footer.html'%}
{% endblock %}