{% extends 'base.html'%}


{% block title%}
Booking detail
{% endblock %}



{% block content%}
<div class="container">
    <div>รูปภาพ : <img src="/media/{{booking.room.type.img}}" alt="" class="img-fluid" width="400px"></div>
    <div>วันที่เข้า : {{booking.date_in}}</div>
    <div>วันที่ออก : {{booking.date_out}}</div>
    <div>ค้างคืน : {{remain_day}} วัน</div>
    <div>ประเภท : {{booking.room.type}}</div>
    <div>ราคา : {{booking.total_payment}}</div>
    <div>สถานะ : {{booking.status}}</div>

    <form action="{% url 'payment'%}" method="post">
        {% csrf_token %}
    {% if booking.status == "ยังไม่ชำระเงิน"%}
    {{form.as_p}}
    <input type="hidden" name="booking_id" id="" value="{{booking.booking_id}}">
    <input type="submit" name="submit" id="" value="ชำระเงิน" class="btn btn-primary">

    {% endif%}
</form>

</div>



{% endblock %}