{% extends 'base.html'%}


{% block title%}
Booking detail
{% endblock %}



{% block content%}


<div class="container">
    <h1 class="py-3 text-uppercase pt-5"> <span id="home" style="cursor: pointer;">home</span> / {{booking.room.type.name}} </h1>
    <div class="row">
        <div class="col-xl-6 col-lg-12 col-md-12">
            <div class="p-5">
                <img src="/media/{{booking.room.type.img}}" alt="" class="rounded" width="100%" height="448px">
            </div>
            <div class="row">

                {% for i in multiimg%}
                <div class="col-3 " style="height: 80px;">
                    <img src="/media/{{i.image}}" alt="" class="rounded" width="100%" height="100%">
                </div>
                {% endfor%}
            </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-12 rounded rounded-4 " style="">
            <div class="pb-5"></div>
            <div class="container px-5  rounded rounded-4" style="background-color: white; border: 2px solid black;">
                <h5 class="text-center py-5 pb-2"><b><i class="fa-regular fa-calendar-days"></i> รายละเอียดการจอง</b>
                </h5>
                <b>
                    <hr class="rounded-5 text-dark bg-dark"
                        style=" color:black !important; background-color: black !important; height: 3px;"></b>
                <div class="pb-1"></div>
                <div class="container">
                    {% if booking.status == "ยังไม่ชำระเงิน"%}
                    <div class="pb-5"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div>ประเภท : {{booking.room.type.name}}</div><br>
                            <div>วันที่เข้า : {{booking.date_in}} </div><br>
                            <div>วันที่ออก : {{booking.date_out}}</div><br>
                            <div>คืน : {{remain_day}} คืน</div><br>
                            <div>สำหรับ : ผู้ใหญ่ {{request.COOKIES.people}} คน, 1 ห้อง</div><br>
                            <div>ราคา : {{booking.total_payment}} บาท</div>

                        </div>
                        <div class="col-md-6">
                            <form action="{% url 'payment'%}" method="post" name="formform" id="formform">
                                {% csrf_token%}
                                <div class="pb-2">
                                    <div class="text-center">รหัสบัตร</div>
                                    <div>{{form.pay_number}}</div>
                                </div>
                                <div class="pb-2">
                                    <div class="text-center">รหัสความปลอดภัย</div>
                                    <div>{{form.pay_code}}</div>
                                </div>
                                <div class="pb-5">
                                    <div class="text-center">วันหมดอายุ</div>
                                    <div>{{form.pay_expiry}}</div>
                                </div>

                                <div class="text-center pb-4">สถานะ : <b class="text-danger">{{booking.status}}</b>
                                </div>
                                <input type="hidden" name="booking_id" id="" value="{{booking.booking_id}}">
                                <input type="hidden" name="remain_day" id="" value="{{remain_day}}">
                                <input type="hidden" name="room_free" id="" value="{{booking.room_id}}">


                        </div>
                        <div class="text-end">
                            <a href="#" onclick="cancle('{{booking.booking_id}}')" class="btn btn-secondary">ยกเลิกการจอง</a>
                            <input type="button" onclick="confirmedit()" name="" id="" value="ชำระเงิน"
                                class="btn btn-primary-booking">
                        </div>
                        </form>
                        <div style="padding-bottom: 15px;"></div>
                    </div>
                    {%else%}
                    <div class="col-md-12">
                        <div class="d-flex justify-content-center">
                            <div>
                                <div>ประเภท : {{booking.room.type.name}}</div><br>
                                <div>วันที่เข้า : {{booking.date_in}} </div><br>
                                <div>วันที่ออก : {{booking.date_out}}</div><br>
                                <div>คืน : {{remain_day}} คืน</div><br>
                                <div>สำหรับ : ผู้ใหญ่ {{request.COOKIES.people}} คน, 1 ห้อง</div><br>
                                <div>ราคา : {{booking.total_payment}} บาท</div><br>
                                <div>สถานะ : <span class="text-success">{{booking.status}}</span></div><br>
                                <a href="/" class="btn btn-primary-booking form-control">กลับหน้าหลัก</a>
                                <div class="pb-4"></div>
                                <div style="padding-bottom:11px"></div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pb-5"></div>

{% include 'footer.html'%}
<script>

    var home = document.getElementById("home")

    home.addEventListener('click',(()=>{
        document.location.href = "/"
    }))





    function confirmedit() {
        Swal.fire({
            title: 'ยืนยันการชำระเงิน',
            text: "การกระทำต่อไปนี้ ไม่สามารถย้อนคืนได้",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'ยืนยัน',
            cancelButtonText: 'ยกเลิก'
        }).then((result) => {
            if (result.isConfirmed) {
                try {
                    console.log('debgu')
                    document.getElementById("formform").submit();
                } catch (error) {
                    Swal.fire({
                        icon: 'error',
                        text: 'เกิดข้อผิดพลาด',
                    });
                }
            }
        })
    }

    function cancle(book){
        Swal.fire({
            title: 'ยกเลิกการจอง',
            text: "การกระทำต่อไปนี้ ไม่สามารถย้อนคืนได้",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'ยืนยัน',
            cancelButtonText: 'ยกเลิก'
        }).then((result) => {
            if (result.isConfirmed) {
                try{
                    document.location.href = "/cancle/"+book
                    }
                catch(error)
                    {
                Swal.fire({
                      icon: 'error',
                      text: 'เกิดข้อผิดพลาด',
                    });
                    }
            }
        })
    }

</script>
{% endblock %}