{% extends 'base.html'%}

{% block content%}

<style>
    hr {
        position: absolute;
        width: 197px;
        height: 0px;

        border: 6px solid #D15252;
    }
</style>
<div class="container" style="background-color: white;">
    <br>
    <br>
    <br>
    <br>
    <div class="text-center pb-5">
        <img src="/media/rmuti.png" alt="">
    </div>
    <h1 class="text-center">ระบบการจองโรงแรม</h1>
    <h1 class="text-center">Avania +</h1>
    <h1>Present</h1>
    <hr>

    <div class="row">

        <img src="/media/p5.png" alt="" width="100%" height="100%" class="">

        <h1>Meet the team</h1>
        <div class="col-6 ">
            <hr>
            <img src="/media/p1.png" alt="" width="105%" height="100%" class="">
        </div>

        <div class="col-6   ">
            <img src="/media/p3.png" alt="" width="105%" height="100%" class=" ">
        </div>
        <div class="col-6 ">
            <img src="/media/p2.png" alt="" width="105%" height="100%" class="">
        </div>

        <div class="col-6   ">
            <img src="/media/p4.png" alt="" width="105%" height="100%" class=" ">
        </div>

    </div>
    <br>
    <h1 class="text-center">B.BA. (Digital Business Technology)</h1>
    <h1 class="text-center">Department of Information System</h1>
    <br>
    <h1 class="text-center">RMUTI - Khonkean</h1>
    <br>
    <h1 class="text-center">DIGITAL BUSINESS APPLICATION PROGRAMMING</h1>
    <br>
    
</div>
{% include 'footer.html'%}
{% endblock%}