{% load static%}

{% load django_bootstrap5 %}
{% bootstrap_javascript %}
{% bootstrap_messages%}
{% bootstrap_css %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title%} {% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/style.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/font/flaticon.css">
        
    </head>

    <style>
        
        </style>

    <body>

        {% block content%}
        {% endblock %}
    
    </body>
</html>