{% load static%}

{% load django_bootstrap5 %}
{% bootstrap_javascript %}
{% bootstrap_messages%}
{% bootstrap_css %}

<!DOCTYPE html>
<html lang="en">
  
    <head>
        <title>{% block title%} {% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/style.css" rel="stylesheet"> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <!-- <link type="text/javascript" src="/static/js/alert.js"> -->
        
        <!-- <link href="/node_modules/sweetalert2/dist/sweetalert2.css" rel="stylesheet"> -->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap" rel="stylesheet">

        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

    </head>

    <style>
      body {
        font-family: 'Prompt', serif;
        font-size:  18px;
        font-weight: bold;
      }
    </style>
    
    {% include 'header.html'%}
    <body class="" style="background-color:  #e9e9e9">
      <script href="/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
        {% block content%}
        <script href="/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
        {% endblock %}
      
    </body>

<footer>
    {% include 'footer.html'%}
</footer>

</html>
