
<div class="footer shadow-lg p-5" style="background-color: #61494C; color:white;">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-6 d-flex justify-content-center">
        <h1 class="my-auto"><b>Avania+</b></h1>
      </div>
      <div class="col-md-6">
        <div style="width: 80%;">
        <h3><b>Avania plus hotel</b></h2>
          <hr style="color: white;">
          <br>
          <div class="lh-small">
            <p>โรงแรมฮวาเนีย พลัส ริเวอร์ไซต์ ขอนแก่น<br>
              154 ถนนกลางเมือง อำเภอเมือง จังหวัดขอนแก่น 40000 ประเทศไทย</p>

          </div>
          <div class="lh-small">
            <p>เบอร์โทรศัพท์ติดต่อ <i class="fa-solid fa-phone"></i> : +66 2341 9100<br>
              อีเมลล์ <i class="fa-regular fa-envelope"></i> : avaniaplus.khonkaen@avaniahotels.com<br>
              GPS <i class="fa-regular fa-location-dot"></i> : N 14.5141853 / E 101.4314598 <a
                href="https://g.page/RMUTI-KKC?share" style="" id="external_link">(View Map)</a></p>

            ติดต่อเราได้ที่ <a href="https://facebook.com" id="external_link"><i class="fa-brands fa-facebook"></i></a> <a href="https://www.instagram.com/" id="external_link"><i class="fa-brands fa-instagram"></i></a>
          </div>
        </div>


      </div>
    </div>

  </div>
