<div class="footer shadow-lg p-5" style="background-color: #ffffff">
          <div class="container-fluid">
            <br>
            <div class="row text-center">
              <div class="col-md-8 mb-3 mb-md-0 mx-auto">
                <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co" class="link-highlight">Untree.co</a> 
                </p>  
              </div>
            </div>
          </div>