<nav class="navbar navbar-expand-lg p-5 shadow-lg" style="background-color: white">
  <div class="container-fluid">
    <a class=" navbar-brand" aria-current="page" href="/">
      <h1 class="pe-5">Avania+</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <a class="nav-link px-3" aria-current="page" href="/">หน้าแรก</a>

     

        <a class="nav-link px-3" aria-current="page" href="/alltype">ห้องพัก</a>
        <a class="nav-link px-3" href="/contact">ติดต่อเรา</a>

        
        {% if not booking_count == 0%}
        <div class="nav-item dropdown px-3">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            รายละเอียดการจอง
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for booking in booking_user %}
            <li><a class="dropdown-item" href="/bookdetail/{{booking.booking_id}}">ห้อง {{ booking.room_id }}
              </a></li>

            {% endfor %}

        </div>
        {% else %}

        {%endif%}




        <div class="nav-item dropdown px-3">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          เกี่ยวกับเรา
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li>
            <a class="nav-link text-center" href="/about">เกี่ยวกับเรา</a>
            <a class="nav-link text-center" href="/source">ที่มาซอฟต์แวร์</a>
            <a class="nav-link text-center" href="/objective">วัตถุประสงค์</a>
          </li>
        </div>
        


        {%if user.is_superuser %}

        <div class="nav-item dropdown px-3">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            ผู้ดูแลระบบ
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a href="/rooms" class="nav-link text-center">ข้อมูลห้อง</a>
              <a class="nav-link text-center" aria-current="page" href="/transection">ประวัติการจอง</a>
              <a class="nav-link text-center" aria-current="page" href="/editmember">ข้อมูลสมาชิก</a>
            </li>
        </div>


        {%endif%}
     
        

      </ul>

      <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->

      {%if user.is_authenticated%}

      <div class="navbar-nav dropdown ">
        <a class=" nav-link dropdown-toggle text-uppercase" href="#" id="navbarDropdown" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-user"></i> {{user}}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

          {% if not user.is_superuser%}
          <li><a class="dropdown-item" href="/editcustomer/{{user.customer.cust_id}}">แก้ไขข้อมูลส่วนตัว</a></li>
          {% endif %}
          <li><a class="dropdown-item" href="/logout">ออกจากระบบ</a></li>
        </ul>
      </div>
      {%endif%}
      <div class="navbar-nav ">
        {% if not user.is_authenticated %}
        <a class="btn btn-primary px-4" href="/register">สมัครสมาชิก</a>
        &nbsp;&nbsp;
        <a class="btn px-4" href="/login">เข้าสู่ระบบ</a>
        {% else%}
      </div>
      {% endif%}

      <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->

    </div>
  </div>
</nav>