{% extends 'base.html' %}

{% block title%}Home{% endblock %}


{% block content %}

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">

  <div class="row carousel-indicators">
    <form class="form" method="post">
      {%csrf_token%}
      <div class="row mb-5">
        <div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-4">
          วันที่เข้า : {{form.date_in}}
        </div>
        <div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-5">
          <!-- <input type="text" class="form-control" name="daterange"> -->
          วันที่จอง : {{form.date_out}}

        </div>
        <div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-3">
          <!-- <input type="text" class="form-control" placeholder="# of People"> -->
          จำนวนคน : {{form.people}}
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-4">
          <input type="submit" class="btn btn-primary btn-block" value="Search">
        </div>
        <div class="col-lg-8">

        </div>
      </div>
    </form>

    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
   
<div class="container shadow-lg " style="background-color: #6998AB">
    
    <!-- row-1 -->
    <br>
    <br> <div class="container text-light">
                
        <div class="">
            <h1>HOTEL</h1>

            {% if user.is_authenticated %}
            <p>Welcome, {{ user }}. Thanks for logging in.</p>
            {% else %}
            <p class="">Welcome, new user. Please <a class="text-light" href="/login ">Click log in.</a></p>
           
        </div> <!-- row-2 -->
    </div>
    <br>
    <br>
   
</div> <!-- row-1 -->
{% endif %}
{% endblock %}